/* Estilização Terceiro Arquivo - beneficios.html */
body {
    background-color: #52CCD8;
    margin: 0;
  }
  
  .header {
    padding: 20px;
    background-color: #4CCD99;
    width: 100%;
    height: 200px;
  }
  
  /* .header .container {
    max-width: 1200px;
    margin: 0 auto;
  } */
  
  .logo-container {
    float: left;
    margin: 10px;
  }
  
  .logo {
    width: 200px;
  }
  
  nav {
    float: right;
    margin: 70px 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 140px;
  }
  
  nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
  }
  
  h1 {
    clear: both;
    color: #000000;
    text-align: center;
    font-size: 40px;
  }
  
  .paragrafo-imagem {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  
  .paragrafo-imagem p {
    color: #000000;
    font-size: 30px;
  }
  
  .imagem-tomada,
  .imagem-smartphone,
  .imagem-varinha,
  .imagem-planta {
    max-width: 200px; 
    height: auto;
    margin-right: 30px;
  }
  
  .footer {
    clear: both;
    text-align: center;
    background-color: #4CCD99;
    width: 100%;
    height: 50px;
    padding: 20px;
  }
  
  .footer p {
    font-size: 20px;
    color: #000000;
  }
  
  .footer p a {
    text-decoration: none;
  }
  
/* Adicionando Regras de mídia para telas menores que 768px */
  @media (max-width: 768px) {
    .header nav ul {
      flex-direction: column; 
      align-items: center; 
    }
  
    .paragrafo-imagem {
      flex-wrap: wrap; 
      margin-left: 0; 
    }
  
    .imagem-tomada,
    .imagem-smartphone,
    .imagem-varinha,
    .imagem-planta {
      margin-bottom: 20px; 
    }
  }
  