/* Estilização Quarto Arquivo - cadastre-se.html */

body {
    background-color: #51AFF7;
    margin: 0;
}

.header {
    padding: 20px;
    background-color: #4CCD99;
    width: 100%;
    height: 200px;
}

/* .header .container {
    max-width: 1200px;
    margin: 0 auto;
} */

.logo-container {
    float: left;
    margin: 10px;
}

.logo {
    width: 200px;
}

nav {
    float: right;
    margin: 70px 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 140px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
}

.paragrafo {
    clear: both;
    color: #000000;
    margin-left: 60px;
    font-size: 40px;
    margin-top: 100px;
}

.titulo {
    color: #000000;
    margin-left: 60px;
    font-size: 60px;
    margin-top: 100px;

}

.formulario-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 700px;
    margin-bottom: 20px;
    margin-top: -750px;
    background-color: aliceblue;
    border-radius: 10px;
    width: 50%;
}

.pessoa-container {
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 30px;
}

.label-fisica,
.label-juridica {
    color: #000000;
    font-size: 20px;
    margin-right: 50px;
}

input[type="radio"] {
    transform: scale(2);
    margin-right: 10px;
    cursor: pointer;
}

.formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.label {
    color: #000000;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.input-nome,
.input-email,
.input-celular,
.input-endereco,
.input-cep,
.input-numero,
.input-bairro,
.input-complemento,
.input-cidade,
.input-estado,
.input-gasto {
    width: 500px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.atencao {
    color: #ED1010;
    margin-left: 10px;
    font-size: 20px;
}

.botao-enviar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 200px;
}

.botao-enviar:hover {
    background-color: #0056b3;
}

.footer {
    clear: both;
    text-align: center;
    background-color: #4CCD99;
    width: 100%;
    height: 50px;
    padding: 20px;
}

.footer p {
    font-size: 20px;
    color: #000000;
}

.footer p a {
    text-decoration: none;
}

/* Adicionando Regras de mídia para telas menores que 768px */
@media screen and (max-width: 768px) {
    /* Movendo os formulários para baixo da tela */
    .formulario-container {
        float: none;
        margin: 20px auto; /* Centralizando horizontalmente */
        margin-left: 20px; /* Posicionando à esquerda */
    }


    .header nav ul {
        flex-direction: column; 
        align-items: center; 
      }

    .paragrafo {
        font-size: 25px;
    }

    .titulo {
        font-size: 35px;
    }

    .footer p {
        font-size: 16px;
    }

    /* Ajustando o posicionamento dos formulários */
    .formulario-container {
        width: 100%; 
        margin-top: 20px; 
    }
}